.search-input {
    width: 45%;
    border-style: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 12pt;
    text-indent: 25px;
    background-image: url('../assets/search-18.png');
    background-repeat: no-repeat;
    background-position: 4px;
}
.line-through {
    text-decoration: line-through;
}

#sidenav {
    color: #34373d;
    background-color: rgb(240, 240, 240);
}