.search-input {
    margin: auto 356px;
    height: 60%;
    border-style: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 12pt;
    text-indent: 25px;
    background-image: url('../assets/search-18.png');
    background-repeat: no-repeat;
    background-position: 4px;
}
.line-through {
    text-decoration: line-through;
}
h2.md-toolbar-tools {
    width: 120%;
}
h2 span {
    width: 55px;
}